.spin-btn {
  position: absolute;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  right: 0.5rem;
  top: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0 #000;
}

.wheel-canvas {
  display: block;
  max-width: 100%;
}







