/*
.effect-renderer,
.game-renderer,
.frame-renderer {
  //width: 100%;
  position: absolute;
  top: 0;
}

.game-renderer {
  z-index: 0;
}

.frame-renderer {
  z-index: 1;
}

.effect-renderer {
  z-index: 2;
}

*/

body {
  background-image: url(../i/bg-main.jpg);
  //background-color: #00ff00;
  background-repeat: no-repeat;
  background-position: center center;
  @include prefix(background-size, cover);
  padding-bottom: 50px;
}

.game-renderer {
  display: block;
  max-width: 100%;
  margin: 50px auto;
  z-index: -1; // canvas can not scroll without this hack
  position: relative; // canvas can not scroll without this hack
}

.spin-btn {
  @extend .no-highlight;
  width: 107px;
  height: 36px;
  background-image: url(../i/button-spin.png);
  background-repeat: no-repeat;
  @include prefix(background-size, contain);
  margin: 0 auto;
}

.spin-btn_disabled {
  @extend .disabled;
}